<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
        <title>Booklist</title>
    </head>
<body>
    <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
        </form>

    <p>Logged in as: <span sec:authentication="name"></span></p>
    
    <h1>Books</h1>
    <table class="table table-striped">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Category</th>
</tr>
    <tr th:each="book : ${books}">

        <td th:text="${book.author}">Author</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.isbn}">ISBN</td>
        <td th:text="${book.publicationYear}">Year</td>
        <td th:text="${book.category.name}">Category</td>
        <td>
            <a th:href="@{'/editbook/{id}'(id=${book.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{'/delete/{id}'(id=${book.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </table>
    <a href="/add" class="btn btn-success">Add book</a>
</body>
</html>
