<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
        <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Category</th>
        </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryid}">ID</td>
        <td th:text="${category.name}">Name</td>
        </tr>
    </table>
</body>
</html>