<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form th:action="@{/updatebook}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <p>Author: <input type="text" th:field="*{author}"/></p>
        <p>Title: <input type="text" th:field="*{title}"/></p>
        <p>ISBN: <input type="text" th:field="*{isbn}"/></p>
        <p>Publication Year: <input type="number" th:field="*{publicationYear}"/></p>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
</body>
</html>
